body {
    background-color: rgb(235, 212, 241);
    border-radius: 16px;
}

#note {

    border: 2px solid rgb(119, 17, 150);
    outline: none;
    border-radius: 10px;
    width: 450px;
    height: 280px;
    box-sizing: border-box;
    transition: .3s;
}

#note:focus {
    border-color: rgb(135, 30, 255);
    box-shadow: 0 0 8px 0 blue;
}

.noteButton {
    margin-left: 65px;
    height: 50px;
    width: 120px;
    background-color: rgb(119, 17, 150);
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 10px;
    font-size: large;
}

.noteButton:hover {
    cursor: pointer;
    border: 2px solid rgb(139, 139, 207);
}